@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bg1: #ccd5aeff;
    --bg2: #e9edc9ff;
    --bg3: #fefae0ff;
    --bg4: #faedcdff;
    --bg5: rgba(212, 163, 115, 0.8);
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

#enable-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99;
    font-size: 50px;
    text-align: center;
    line-height: 100vh;
}

@keyframes start-animation {
    0% {
        opacity: 0;
        background-image: url("imgs/image2.jpg");
        transform: scale(1, 1);
    }
    10% {
        opacity: 0.5;
        background-image: url("imgs/image2.jpg");
    }
    20% {
        opacity: 0;
        background-image: url("imgs/image2.jpg");
    }
    21% {
        opacity: 0;
        background-image: url("imgs/image1.jpg")
    }
    30% {
        opacity: 0.5;
        background-image: url("imgs/image1.jpg");
    }
    40% {
        opacity: 0;
        background-image: url("imgs/image1.jpg");
    }
    41% {
        opacity: 0;
        background-image: url("imgs/image3.png");
    }
    50% {
        opacity: 0.5;
        background-image: url("imgs/image3.png");
    }
    60% {
        opacity: 0;
        background-image: url("imgs/image3.png");
    }
    61% {
        opacity: 0;
        background-image: url("imgs/image4.webp");
    }
    70% {
        opacity: 0.5;
        background-image: url("imgs/image4.webp");
    }
    80% {
        opacity: 0;
        background-image: url("imgs/image4.webp");
    }
    81% {
        opacity: 0;
        background-image: url("imgs/image5.jpg");
    }
    90% {
        opacity: 0.5;
        background-image: url("imgs/image5.jpg");
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
        background-image: url("imgs/image5.jpg");
    }
}

#start-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: start-animation 30s linear infinite;
}

.start-text {
    width: 1000px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.start-title {
    margin: 0;
    font-size: 80px;
    text-shadow: 4px 4px 3px black;
}

.start-subtitle {
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

#move-down {
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translate(-50%, 0);
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
}

@keyframes bob {
    0% {
        
    }
    50% {
        transform: translate(0, 1.5vh);
    }
}

#move-down-arrow {
    animation: bob 1s linear infinite;
}

#enable-js-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#intro-text {
    width: 75vw;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vh;
}

#intro-head {
    font-size: 10vh;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.highlight {
    background-color: var(--bg5);
    padding: 2px 6px;
    color: white;
    font-weight: bold;
}

.quote {
    text-align: center;
    width: 100%;
    font-style: italic;
    display: inline-block;
}

.biblio {
    margin-top: 5vh;
    font-size: 2.3vh;
    overflow-y: scroll;
    height: 90vh;
}

pre {
    font-size: 10px;
    margin-left: 5px;
}

.note {
    position: absolute;
    bottom: 5vh;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.ip1 {
    background: var(--bg1);
}

.ip2 {
    background: var(--bg2);
}

.ip3 {
    background: var(--bg3);
}

.info-pane {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ip-main-img-wrap {
    height: 100vh;
    position: absolute;
    left: 2.5vw;
    border: solid var(--bg4) 10px;
    background: var(--bg4);
}

.ip-main-img {
    width: 45vw;
    height: 60vh;
    object-fit: contain;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ip-main-img-src {
    width: 45vw;
    position: absolute;
    display: block;
    text-align: right;
    font-style: italic;
}

.ip-main-head {
    width: 45vw;
    position: absolute;
    font-size: 9vh;
    text-align: left;
    right: 5vw;
    top: 10vh;
}

.ip-subhead {
    font-size: 3vh;
}

.ip-main-text {
    width: 45vw;
    height: 70vh;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    right: 5vw;
    top: 20vh;
    font-size: 20px;
}

.ip-figures {
    position: absolute;
    bottom: 3vh;
    right: 1vw;
    margin-right: 5vw;
}

.ip-figure-wrap {
    width: 8vw;
    height: 24vh;
    background: white;
    border-radius: 5px;
    border: solid white 10px;
    display: inline-block;
    margin-left: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ip-figure {
    width: calc(8vw);
    height: calc(10vw);
    object-fit: cover;
}

.ip-figure-src {
    width: calc(8vw);
    height: 20px;
    position: absolute;
    display: block;
    bottom: 8px;
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

:-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bg1);
    padding: 3px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: white;
    border-radius: 5px;
}